.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.background {
    height: 50vh;
    width: 100%;

    background: linear-gradient(to top, rgb(216, 216, 216), rgb(245, 245, 245) 5%, white);
}

.bottom {
    height: 50vh;
    width: 100%;

    background: linear-gradient(160deg, aliceblue, white, lightgray);
}

@keyframes booming {
    0% {
        font-size: 0rem;
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    80% {
        font-size: 14vmin;
        opacity: 1;
    }
    100% {
        opacity: 0;
        font-size: 0rem;
    }
}

.text {
    user-select: none;

    font-weight: 700;
    font-size: 0rem;
    color: black;
}

.dont {
    font-weight: 700;
    font-size: 6vmin;
    color: tomato;
    /* text-decoration: ; */
}

.boom {
    animation: 1s forwards ease-out booming;
}

.above {
    user-select: none;

    height: 10rem;
    width: 12rem;

    color: white;
    font-size: 3rem;
    text-shadow: #191919 -2px 3px 5px;
    text-align: center;
    
    position: relative;
    z-index: 1;
    top: 0px;
    
    border: 0.5rem solid #191919;
    border-radius: 1rem;
    
    background-color: tomato;
    
    transform-origin: center bottom;
    transform: perspective(10rem) rotateX(20deg) ;
}

.under {
    height: 30px;
    width: 186px;
    
    position: relative;
    z-index: 0;
    top: -10px;
    
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    
    background-color: #363636;
}

.space {
    margin: 2rem;
}

.above,
.under {
    transition: 300ms;
}